<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newsapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_news"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon_news"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DetailActivity"
            android:parentActivityName="com.example.newsapp.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.newsapp.MainActivity" />
        </activity>

        <activity android:name=".SearchActivity"
            android:parentActivityName="com.example.newsapp.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.newsapp.MainActivity" />
        </activity>

    </application>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>